# примеры шаблонов для игнорирования
# .a *.a - с расширением
# !lib.a - отслеживать несмотря на игнорируемое расширение
# /TO_DO - в корневом каталоге
# игнорировать все в каталоге build/
# doc/*.txt - игнорировать doc/notes.txt, но не doc/server/arch.txt
# doc/**/*.txt - игнорировать все .txt файлы в каталоге doc/
/Tony/info.dat
